services:
  - type: web
    name: hrms-lite-api
    runtime: python
    plan: free
    rootDir: backend
    buildCommand: pip install -r requirements.txt
    startCommand: uvicorn main:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: MONGODB_URI
        value: mongodb+srv://mohduzair171222_db_user:NPYKhy8PoXAj6ql3@keybo.mdqvp2v.mongodb.net/hrms_lite?appName=Keybo
